# –ê–í–° - –∞–Ω–∞–ª–∏–∑

# üéàüçæ üéâ





–í—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ –≤ –∫—Ä—É–ø–Ω–æ–º –æ–Ω–ª–∞–π–Ω-–º–∞–≥–∞–∑–∏–Ω–µ, –∫–æ—Ç–æ—Ä—ã–π —Ä–µ–∞–ª–∏–∑—É–µ—Ç —Ç–æ–≤–∞—Ä—ã ¬´–≤—Å—ë –¥–ª—è –ø—Ä–∞–∑–¥–Ω–∏–∫–æ–≤¬ª. –í–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ ABC-–∞–Ω–∞–ª–∏–∑ –∏ –≤—ã—è–≤–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ç–æ–≤–∞—Ä—ã –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏. –≠—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è —Å–æ—Å—Ç–∞–≤–∏—Ç –ø–ª–∞–Ω –∑–∞–∫—É–ø–æ–∫ –Ω–∞ –≤–µ—Å—å —Å–ª–µ–¥—É—é—â–∏–π –≥–æ–¥.

**ABC-–∞–Ω–∞–ª–∏–∑** –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ä–µ—Å—É—Ä—Å—ã –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø—Ä–∏–±—ã–ª–∏.

–í –æ—Å–Ω–æ–≤–µ ABC-–∞–Ω–∞–ª–∏–∑–∞ –ª–µ–∂–∏—Ç __¬´–ü—Ä–∏–Ω—Ü–∏–ø –ü–∞—Ä–µ—Ç–æ¬ª: 20% —Ä–µ—Å—É—Ä—Å–æ–≤ –ø—Ä–∏–Ω–æ—Å—è—Ç 80% –ø—Ä–∏–±—ã–ª–∏__. –ò–º–µ–Ω–Ω–æ —ç—Ç–æ—Ç –≤–∏–¥ –∞–Ω–∞–ª–∏–∑–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–¥–µ–ª–∏—Ç—å —Ç–µ —Å–∞–º—ã–µ  –≥—Ä—É–ø–ø—ã —Ç–æ–≤–∞—Ä–æ–≤, —Ä–µ—Å—É—Ä—Å–æ–≤, –∫–ª–∏–µ–Ω—Ç–æ–≤, –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –∏ —Ç. –ø., –∫–æ—Ç–æ—Ä—ã–µ –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –∫–æ–º–ø–∞–Ω–∏–∏ –æ—Å–Ω–æ–≤–Ω—É—é –ø—Ä–∏–±—ã–ª—å.

__–ó–∞–¥–∞—á–∞ –∞–Ω–∞–ª–∏–∑–∞ —Ä–∞–∑–¥–µ–ª–∏—Ç—å —Ç–æ–≤–∞—Ä—ã –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ –ø—Ä–∏–Ω—Ü–∏–ø—É:__

- –ê ‚Äî –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ, 20% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞ (–Ω–æ–º–µ–Ω–∫–ª–∞—Ç—É—Ä–∞); 80% ‚Äî –ø—Ä–æ–¥–∞–∂
- –í ‚Äî –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–µ, 30% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 15% ‚Äî –ø—Ä–æ–¥–∞–∂
- –° ‚Äî –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ, 50% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 5% ‚Äî –ø—Ä–æ–¥–∞–∂

## –ó–∞–¥–∞–Ω–∏–µ 1

–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products` –∏–∑ PostgreSQL –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products` –∏ –ø–æ–¥–≥–æ—Ç–æ–≤—å—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ –∞–Ω–∞–ª–∏–∑—É.

1. –ü–æ–¥–≥—Ä—É–∑–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
2. –ü–æ–¥–∫–ª—é—á–∏—Ç–µ –Ω—É–∂–Ω—É—é –±–∏–±–ª–∏–æ—Ç–µ–∫—É –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å PostgreSQL
3. –°–æ–∑–¥–∞–π—Ç–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –ë–î
4. –°–æ–∑–¥–∞–π—Ç–µ –∑–∞–ø—Ä–æ—Å –∏ –≤—ã–≥—Ä—É–∑–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products`
5. –ü–æ–ª–æ–∂–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products`
6. –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ —É–¥–æ–±–Ω–æ–º—É —Ç–∏–ø—É: —á–∏—Å–ª–∞ –∫ —á–∏—Å–ª–æ–≤–æ–º—É —Ç–∏–ø—É, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã ‚Äî –∫ —Ç–µ–∫—Å—Ç–æ–≤–æ–º—É

In [1]:
from postgresql_secret1 import pg_secret

In [2]:
import psycopg2

connection = psycopg2.connect(
                             database=pg_secret['db_name'],
                             user=pg_secret['db_user'],
                             password=pg_secret['db_password'],
                             host=pg_secret['db_host'],
                             port=pg_secret['db_port'],
                             )# —Å–æ–∑–¥–∞–π —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ

cursor = connection.cursor()# –∑–∞–≤–µ–¥–∏ –∫—É—Ä—Å–æ—Ä, —á—Ç–æ–±—ã –¥–µ–ª–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã –≤ –±–∞–∑—É

In [3]:
import pandas as pd

query = """SELECT * 
           FROM products"""# –Ω–∞–ø–∏—à–∏ –∑–∞–ø—Ä–æ—Å, —Ç–≤–æ–∏—Ö –∑–Ω–∞–Ω–∏–π SQL —Ç–æ—á–Ω–æ —Ö–≤–∞—Ç–∏—Ç

cursor.execute(query)

result = cursor.fetchall()

result

[(524025, '21232', 'STRAWBERRY CERAMIC TRINKET BOX', 72, Decimal('1.06')),
 (524025, '85099C', 'JUMBO  BAG BAROQUE BLACK WHITE', 100, Decimal('1.65')),
 (524025, '21231', 'SWEETHEART CERAMIC TRINKET BOX', 72, Decimal('1.06')),
 (524025, '47570B', 'TEA TIME TABLE CLOTH', 50, Decimal('8.49')),
 (524025, '20685', 'DOORMAT RED RETROSPOT', 10, Decimal('6.75')),
 (524025, '20718', 'RED SPOTTY SHOPPER BAG', 100, Decimal('1.06')),
 (524025, '85150', 'LADIES & GENTLEMEN METAL SIGN', 48, Decimal('2.10')),
 (524025, '22804', 'CANDLEHOLDER PINK HANGING HEART', 64, Decimal('2.55')),
 (524026, '47559B', 'TEA TIME OVEN GLOVE', 100, Decimal('1.06')),
 (524026, '21154', 'RED RETROSPOT OVEN GLOVE ', 200, Decimal('1.06')),
 (524026, '47599A', 'PINK PARTY BAGS', 100, Decimal('1.69')),
 (524027, '22952', '72 CAKE CASES VINTAGE CHRISTMAS', 672, Decimal('0.42')),
 (524028, '85049E', 'SCANDINAVIAN REDS RIBBONS', 1, Decimal('1.25')),
 (524028, '22082', 'RIBBON REEL STRIPES DESIGN ', 1, Decimal('1.65')),
 (524028, '90129C', 'GREEN GLASS TASSLE BAG CHARM', 16, Decimal('2.95')),
 (524028, '72815', '3 WICK CHRISTMAS BRIAR CANDLE ', 12, Decimal('3.75')),
 (524028, '22121', 'NOEL WOODEN BLOCK LETTERS ', 12, Decimal('5.45')),
 (524028, '21754', 'HOME BUILDING BLOCK WORD', 4, Decimal('5.95')),
 (524028, '22457', 'NATURAL SLATE HEART CHALKBOARD ', 12, Decimal('2.95')),
 (524028, '22470', 'HEART OF WICKER LARGE', 10, Decimal('2.95')),
 (524028, '22469', 'HEART OF WICKER SMALL', 6, Decimal('1.65')),
 (524028, '79190B', 'RETRO PLASTIC POLKA TRAY', 1, Decimal('0.42')),
 (524028, '21986', 'PACK OF 12 PINK POLKADOT TISSUES', 12, Decimal('0.29')),
 (524028, '22563', 'HAPPY STENCIL CRAFT', 2, Decimal('1.25')),
 (524028, '22597', 'CHRISTMAS MUSICAL ZINC HEART ', 1, Decimal('0.85')),
 (524028, '22139', 'RETROSPOT TEA SET CERAMIC 11 PC ', 2, Decimal('4.95')),
 (524028, '22597', 'CHRISTMAS MUSICAL ZINC HEART ', 3, Decimal('0.85')),
 (524028, '48188', 'DOORMAT WELCOME PUPPIES', 1, Decimal('7.95')),
 (524028, '22513', 'DOORSTOP FOOTBALL DESIGN', 1, Decimal('3.75')),
 (524028, '22594', 'CHRISTMAS GINGHAM TREE', 1, Decimal('0.85')),
 (524028, '22333', 'RETROSPOT PARTY BAG + STICKER SET', 1, Decimal('1.65')),
 (524028, '21221', 'SET/4 BADGES CUTE CREATURES', 2, Decimal('1.25')),
 (524028, '84827', 'ASS DES PHONE SPONGE CRAFT STICKER', 7, Decimal('0.65')),
 (524028, '22669', 'RED BABY BUNTING ', 3, Decimal('2.95')),
 (524028, '21055', 'TOOL BOX SOFT TOY ', 1, Decimal('8.95')),
 (524028, '20966', 'SANDWICH BATH SPONGE', 4, Decimal('1.25')),
 (524028, '22593', 'CHRISTMAS GINGHAM STAR', 3, Decimal('0.85')),
 (524028, '84839', 'SWEETHEART KEY CABINET', 1, Decimal('6.75')),
 (524028, '22170', 'PICTURE FRAME WOOD TRIPLE PORTRAIT', 1, Decimal('6.75')),
 (524028, '20718', 'RED RETROSPOT SHOPPER BAG', 1, Decimal('1.25')),
 (524038, '48185', 'DOORMAT FAIRY CAKE', 2, Decimal('7.95')),
 (524038, '21524', 'DOORMAT SPOTTY HOME SWEET HOME', 2, Decimal('7.95')),
 (524038, '22366', 'DOORMAT AIRMAIL ', 2, Decimal('7.95')),
 (524038, '22065', 'CHRISTMAS PUDDING TRINKET POT ', 12, Decimal('1.45')),
 (524038, '21098', 'CHRISTMAS TOILET ROLL', 12, Decimal('1.25')),
 (524038, '20685', 'DOORMAT RED SPOT', 2, Decimal('7.95')),
 (524038, '22737', 'RIBBON REEL CHRISTMAS PRESENT ', 10, Decimal('1.65')),
 (524038, '22952', '72 CAKE CASES VINTAGE CHRISTMAS', 48, Decimal('0.55')),
 (524038, '22945', 'CHRISTMAS METAL TAGS ASSORTED ', 12, Decimal('0.85')),
 (524038, '22950', '36 DOILIES VINTAGE CHRISTMAS', 12, Decimal('1.45')),
 (524038, '22739', 'RIBBON REEL, XMAS SOCK/BAUBLE', 10, Decimal('1.65')),
 (524038, '22738', 'RIBBON REEL SNOWY VILLAGE', 10, Decimal('1.65')),
 (524038, '22689', 'DOORMAT MERRY CHRISTMAS RED ', 2, Decimal('7.95')),
 (524038, '22910', 'PAPER CHAIN KIT VINTAGE CHRISTMAS', 6, Decimal('2.95')),
 (524038, '22731', '3D STICKERS CHRISTMAS STAMPS', 20, Decimal('1.25')),
 (524038, '22732', '3D STICKERS VINTAGE CHRISTMAS', 20, Decimal('1.25')),
 (524038, '21164', 'HOME SWEET HOME METAL SIGN ', 6, Decimal('2.95')),
 (524038, '22084', 'PAPER CHAIN KIT EMPIRE', 6, Decimal('2.95')),
 (524038, '21875', 'KINGS CHOICE MUG', 12, Decimal('1.25')),
 (524038, '21791', 'VINTAGE HEADS AND TAILS CARD GAME ', 24, Decimal('1.25')),
 (524038, '22619', 'SET OF 6 SOLDIER SKITTLES', 4, Decimal('3.75')),
 (524038, '22616', 'PACK OF 12 LONDON TISSUES ', 24, Decimal('0.29')),
 (524038, '20724', 'RED SPOTTY CHARLOTTE BAG', 10, Decimal('0.85')),
 (524038, '21790', 'VINTAGE SNAP CARDS', 24, Decimal('0.85')),
 (524038, '85099B', 'JUMBO BAG RED RETROSPOT', 10, Decimal('1.95')),
 (524038, '21832', 'CHOCOLATE CALCULATOR', 12, Decimal('1.65')),
 (524038, '22623', 'BOX OF VINTAGE JIGSAW BLOCKS ', 3, Decimal('4.95')),
 (524038, '22710', 'WRAP I LOVE LONDON ', 25, Decimal('0.42')),
 (524038, '21877', 'HOME SWEET HOME MUG', 12, Decimal('1.25')),
 (524038, '22329', 'ROUND CONTAINER SET OF 5 RETROSPOT', 6, Decimal('1.65')),
 (524038, '21531', 'RED RETROSPOT SUGAR JAM BOWL', 6, Decimal('2.55')),
 (524038, '21535', 'RED RETROSPOT SMALL MILK JUG', 6, Decimal('2.55')),
 (524038, '21533', 'RETRO SPOT LARGE MILK JUG', 3, Decimal('4.95')),
 (524038, '21539', 'RED RETROSPOT BUTTER DISH', 3, Decimal('4.95')),
 (524038, '21527', 'RED RETROSPOT TRADITIONAL TEAPOT ', 2, Decimal('7.95')),
 (524038, '21537', 'RED RETROSPOT PUDDING BOWL', 4, Decimal('4.25')),
 (524038, '22911', 'PAPER CHAIN KIT LONDON', 6, Decimal('2.95')),
 (524038, '22900', ' SET 2 TEA TOWELS I LOVE LONDON ', 6, Decimal('2.95')),
 (524038, '22902', 'TOTE BAG I LOVE LONDON', 12, Decimal('2.10')),
 (524038, '22644', 'CERAMIC CHERRY CAKE MONEY BANK', 12, Decimal('1.45')),
 (524038, '21212', 'PACK OF 72 RETRO SPOT CAKE CASES', 24, Decimal('0.55')),
 (524038, '21035', 'SET/2 RED SPOTTY TEA TOWELS ', 6, Decimal('2.95')),
 (524038, '21755', 'LOVE BUILDING BLOCK WORD', 6, Decimal('5.95')),
 (524038, '22434', 'BALLOON PUMP WITH 10 BALLOONS', 8, Decimal('1.95')),
 (524077, '21212', 'PACK OF 72 RETRO SPOT CAKE CASES', 24, Decimal('0.55')),
 (524077, '21080', 'SET/20 RED SPOTTY PAPER NAPKINS ', 48, Decimal('0.85')),
 (524077, '22536', 'MAGIC DRAWING SLATE PURDEY', 24, Decimal('0.42')),
 (524077, '22533', 'MAGIC DRAWING SLATE BAKE A CAKE ', 24, Decimal('0.42')),
 (524077, '22354', 'RETROSPOT PADDED SEAT CUSHION', 60, Decimal('3.39')),
 (524077, '85031B', 'BLOSSOM IMAGES SCRAP BOOK SET', 24, Decimal('1.25')),
 (524077, '17091A', 'LAVENDER INCENSE IN TIN', 36, Decimal('0.38')),
 (524077, '20914', 'SET/5 RED SPOTTY LID GLASS BOWLS', 12, Decimal('2.95')),
 (524077, '22378', 'WALL TIDY RETROSPOT ', 10, Decimal('2.10')),
 (524077, '47566B', 'TEA TIME PARTY BUNTING', 5, Decimal('4.65')),
 (524077, '22910', 'PAPER CHAIN KIT VINTAGE CHRISTMAS', 18, Decimal('2.95')),
 (524077, '22952', '72 CAKE CASES VINTAGE CHRISTMAS', 24, Decimal('0.55')),
 (524077, '22909', 'SET OF 20 VINTAGE CHRISTMAS NAPKINS', 24, Decimal('0.85')),
 (524077, '22950', '36 DOILIES VINTAGE CHRISTMAS', 24, Decimal('1.45')),
 (524077, '22065', 'CHRISTMAS PUDDING TRINKET POT ', 12, Decimal('1.45')),
 (524077, '22571', 'ROCKING HORSE RED CHRISTMAS ', 12, Decimal('0.85')),
 (524077, '22596', 'CHRISTMAS STAR WISH LIST CHALKBOARD', 12, Decimal('0.85')),
 (524077, '21915', 'RED  HARMONICA IN BOX ', 12, Decimal('1.25')),
 (524077, '21914', 'BLUE HARMONICA IN BOX ', 12, Decimal('1.25')),
 (524077, '22199', 'FRYING PAN RED POLKADOT ', 4, Decimal('4.25')),
 (524079, '22340', 'NOEL GARLAND PAINTED ZINC ', 12, Decimal('1.65')),
 (524079, '22505', 'MEMO BOARD COTTAGE DESIGN', 8, Decimal('4.95')),
 (524079, '21363', 'HOME SMALL WOOD LETTERS', 6, Decimal('4.95')),
 (524079, '21056', "DOCTOR'S BAG SOFT TOY", 3, Decimal('8.95')),
 (524079, '20749', 'ASSORTED COLOUR MINI CASES', 12, Decimal('6.35')),
 (524079, '22659', 'LUNCH BOX I LOVE LONDON', 12, Decimal('1.95')),
 (524079, '22378', 'WALL TIDY RETROSPOT ', 5, Decimal('2.10')),
 (524079, '22423', 'REGENCY CAKESTAND 3 TIER', 16, Decimal('10.95')),
 (524079, '22634', 'CHILDS BREAKFAST SET SPACEBOY ', 8, Decimal('8.50')),
 (524079, '47566', 'PARTY BUNTING', 20, Decimal('4.65')),
 (524079, '21116', 'OWL DOORSTOP', 3, Decimal('4.95')),
 (524079, '84945', 'MULTI COLOUR SILVER T-LIGHT HOLDER', 12, Decimal('0.85')),
 (524079, '22469', 'HEART OF WICKER SMALL', 12, Decimal('1.65')),
 (524079, '22169', 'FAMILY ALBUM WHITE PICTURE FRAME', 8, Decimal('7.65')),
 (524091, '22748', "POPPY'S PLAYHOUSE KITCHEN", 6, Decimal('2.10')),
 (524091, '22746', "POPPY'S PLAYHOUSE LIVINGROOM ", 6, Decimal('2.10')),
 (524091, '21888', 'BINGO SET', 8, Decimal('3.75')),
 (524091, '22584', 'PACK OF 6 PANNETONE GIFT BOXES', 12, Decimal('2.55')),
 (524091, '22585', 'PACK OF 6 BIRDY GIFT TAGS', 12, Decimal('1.25')),
 (524091, '22582', 'PACK OF 6 SWEETIE GIFT BOXES', 12, Decimal('2.55')),
 (524091, '22423', 'REGENCY CAKESTAND 3 TIER', 4, Decimal('12.75')),
 (524091, '21231', 'SWEETHEART CERAMIC TRINKET BOX', 12, Decimal('1.25')),
 (524091, '21232', 'STRAWBERRY CERAMIC TRINKET BOX', 12, Decimal('1.25')),
 (524091, '22457', 'NATURAL SLATE HEART CHALKBOARD ', 6, Decimal('2.95')),
 (524091, '22810', 'SET OF 6 T-LIGHTS SNOWMEN', 12, Decimal('2.95')),
 (524091, '22809', 'SET OF 6 T-LIGHTS SANTA', 12, Decimal('2.95')),
 (524091, '35970', 'ZINC FOLKART SLEIGH BELLS', 12, Decimal('1.69')),
 (524091, '22910', 'PAPER CHAIN KIT VINTAGE CHRISTMAS', 12, Decimal('2.95')),
 (524091, '22835', 'HOT WATER BOTTLE I AM SO POORLY', 4, Decimal('4.65')),
 (524091, '22375', 'AIRLINE BAG VINTAGE JET SET BROWN', 4, Decimal('4.25')),
 (524091, '22372', 'AIRLINE BAG VINTAGE WORLD CHAMPION ', 4, Decimal('4.25')),
 (524091, '22374', 'AIRLINE BAG VINTAGE JET SET RED', 4, Decimal('4.25')),
 (524091, '22376', 'AIRLINE BAG VINTAGE JET SET WHITE', 4, Decimal('4.25')),
 (524091, '84991', '60 TEATIME FAIRY CAKE CASES', 24, Decimal('0.55')),
 (524091, '22952', '72 CAKE CASES VINTAGE CHRISTMAS', 24, Decimal('0.55')),
 (524091, '21213', 'PACK OF 72 SKULL CAKE CASES', 24, Decimal('0.55')),
 (524091, '21212', 'PACK OF 72 RETRO SPOT CAKE CASES', 24, Decimal('0.55')),
 (524092, '22197', 'SMALL POPCORN HOLDER', 24, Decimal('0.85')),
 (524092, '22804', 'CANDLEHOLDER PINK HANGING HEART', 32, Decimal('2.55')),
 (524092, '22345', 'PARTY PIZZA DISH BLUE RETROSPOT', 12, Decimal('0.85')),
 (524092, '22343', 'PARTY PIZZA DISH RED RETROSPOT', 12, Decimal('0.85')),
 (524092, '22344', 'PARTY PIZZA DISH PINK RETROSPOT', 12, Decimal('0.85')),
 (524092, '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 32, Decimal('2.55')),
 (524092, '84755', 'COLOUR GLASS T-LIGHT HOLDER HANGING', 32, Decimal('0.65')),
 (524092, '22727', 'ALARM CLOCK BAKELIKE RED ', 4, Decimal('3.75')),
 (524092, '22728', 'ALARM CLOCK BAKELIKE PINK', 4, Decimal('3.75')),
 (524092, '22730', 'ALARM CLOCK BAKELIKE IVORY', 4, Decimal('3.75')),
 (524092, '22698', 'TEACUP AND SAUCER REGENCY PINK', 12, Decimal('2.95')),
 (524092, '22699', 'TEACUP AND SAUCER REGENCY ROSES', 12, Decimal('2.95')),
 (524092, '22697', 'TEACUP AND SAUCER REGENCY GREEN', 12, Decimal('2.95')),
 (524092, '22423', 'REGENCY CAKESTAND 3 TIER', 8, Decimal('12.75')),
 (524092, '22626', 'BLACK KITCHEN SCALES', 4, Decimal('8.50')),
 (524092, '22624', 'IVORY KITCHEN SCALES', 6, Decimal('8.50')),
 (524092, '22627', 'MINT KITCHEN SCALES', 6, Decimal('8.50')),
 (524092, '22192', 'BLUE DINER WALL CLOCK', 2, Decimal('8.50')),
 (524092, '22191', 'IVORY DINER WALL CLOCK', 2, Decimal('8.50')),
 (524092, '75049L', 'LARGE CIRCULAR MIRROR MOBILE', 192, Decimal('0.85')),
 (524092, '22186', 'RED STAR CARD HOLDER', 6, Decimal('2.95')),
 (524092, '21789', 'KIDS RAIN MAC PINK', 24, Decimal('0.85')),
 (524092, '21788', 'KIDS RAIN MAC BLUE', 24, Decimal('0.85')),
 (524092, '22835', 'HOT WATER BOTTLE I AM SO POORLY', 4, Decimal('4.65')),
 (524092, '22111', 'SCOTTIE DOG HOT WATER BOTTLE', 3, Decimal('4.95')),
 (524092, '22112', 'CHOCOLATE HOT WATER BOTTLE', 3, Decimal('4.95')),
 (524092, '21485', 'RED SPOT HEART HOT WATER BOTTLE', 3, Decimal('4.95')),
 (524092, '21917', 'SET 12 KIDS  WHITE CHALK STICKS', 24, Decimal('0.42')),
 (524092, '22198', 'LARGE POPCORN HOLDER ', 24, Decimal('1.65')),
 (524093, '21912', 'VINTAGE SNAKES & LADDERS', 4, Decimal('3.75')),
 (524093, '20983', '12 PENCILS TALL TUBE RED SPOTTY', 12, Decimal('0.85')),
 (524093, '16156S', 'WRAP PINK FAIRY CAKES ', 25, Decimal('0.42')),
 (524093, '84029G', 'KNITTED UNION FLAG HOT WATER BOTTLE', 4, Decimal('3.75')),
 (524093, '21488', 'RED WHITE SCARF  HOT WATER BOTTLE', 4, Decimal('3.95')),
 (524093, '21080', 'SET/20 RED SPOTTY PAPER NAPKINS ', 12, Decimal('0.85')),
 (524093, '47566', 'PARTY BUNTING', 5, Decimal('4.65')),
 (524093, '21733', 'RED HANGING HEART T-LIGHT HOLDER', 6, Decimal('2.95')),
 (524093, '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 12, Decimal('2.95')),
 (524093, '22187', 'GREEN CHRISTMAS TREE CARD HOLDER', 4, Decimal('4.25')),
 (524093, '22952', '72 CAKE CASES VINTAGE CHRISTMAS', 24, Decimal('0.55')),
 (524093, '22909', 'SET OF 20 VINTAGE CHRISTMAS NAPKINS', 12, Decimal('0.85')),
 (524093, '85049A', 'TRADITIONAL CHRISTMAS RIBBONS', 12, Decimal('1.25')),
 (524093, '22571', 'ROCKING HORSE RED CHRISTMAS ', 12, Decimal('0.85')),
 (524093, '22579', 'WOODEN TREE CHRISTMAS SCANDINAVIAN', 12, Decimal('0.85')),
 (524093, '22577', 'WOODEN HEART CHRISTMAS SCANDINAVIAN', 12, Decimal('0.85')),
 (524093, '22578', 'WOODEN STAR CHRISTMAS SCANDINAVIAN', 12, Decimal('0.85')),
 (524093, '22601', 'CHRISTMAS RETROSPOT ANGEL WOOD', 12, Decimal('0.85')),
 (524093, '22595', 'CHRISTMAS GINGHAM HEART', 12, Decimal('0.85')),
 (524093, '22594', 'CHRISTMAS GINGHAM TREE', 12, Decimal('0.85')),
 (524093, '22619', 'SET OF 6 SOLDIER SKITTLES', 8, Decimal('3.75')),
 (524093, '22321', 'BIRD DECORATION RED SPOT', 12, Decimal('0.85')),
 (524093, '21790', 'VINTAGE SNAP CARDS', 12, Decimal('0.85')),
 (524093, '84520B', 'PACK 20 ENGLISH ROSE PAPER NAPKINS', 12, Decimal('0.85')),
 (524093, '21948', 'SET OF 6 CAKE CHOPSTICKS', 12, Decimal('1.25')),
 (524094, '35832', 'WOOLLY HAT SOCK GLOVE ADVENT STRING', 12, Decimal('2.95')),
 (524094, '22669', 'RED BABY BUNTING ', 10, Decimal('2.95')),
 (524094, '22295', 'HEART FILIGREE DOVE LARGE', 24, Decimal('1.65')),
 (524094, '22294', 'HEART FILIGREE DOVE  SMALL', 24, Decimal('1.25')),
 (524094, '21491', 'SET OF THREE VINTAGE GIFT WRAPS', 48, Decimal('1.65')),
 (524094, '22910', 'PAPER CHAIN KIT VINTAGE CHRISTMAS', 40, Decimal('2.55')),
 (524094, '22959', 'WRAP CHRISTMAS VILLAGE', 25, Decimal('0.42')),
 (524094, '22952', '72 CAKE CASES VINTAGE CHRISTMAS', 24, Decimal('0.55')),
 (524094, '22909', 'SET OF 20 VINTAGE CHRISTMAS NAPKINS', 12, Decimal('0.85')),
 (524094, '22086', "PAPER CHAIN KIT 50'S CHRISTMAS ", 40, Decimal('2.55')),
 (524094, '84946', 'ANTIQUE SILVER TEA GLASS ETCHED', 72, Decimal('1.06')),
 (524094,
  '84347',
  'ROTATING SILVER ANGELS T-LIGHT HLDR',
  120,
  Decimal('2.10')),
 (524094, '22090', 'PAPER BUNTING RETRO SPOTS', 40, Decimal('2.55')),
 (524094, '22567', '20 DOLLY PEGS RETROSPOT', 48, Decimal('1.06')),
 (524094, '22727', 'ALARM CLOCK BAKELIKE RED ', 4, Decimal('3.75')),
 (524094, '22728', 'ALARM CLOCK BAKELIKE PINK', 4, Decimal('3.75')),
 (524094, '22726', 'ALARM CLOCK BAKELIKE GREEN', 4, Decimal('3.75')),
 (524094, '21733', 'RED HANGING HEART T-LIGHT HOLDER', 6, Decimal('2.95')),
 (524095, '47590A', 'BLUE HAPPY BIRTHDAY BUNTING', 50, Decimal('4.65')),
 (524096, '22713', 'CARD I LOVE LONDON ', 72, Decimal('0.36')),
 (524096, '22716', 'CARD CIRCUS PARADE', 72, Decimal('0.36')),
 (524096, '79321', 'CHILLI LIGHTS', 120, Decimal('4.25')),
 (524096, '16048', 'TEATIME ROUND PENCIL SHARPENER ', 768, Decimal('0.12')),
 (524096, '21263', 'GREEN GOOSE FEATHER TREE 60CM', 72, Decimal('1.95')),
 (524096, '21265', 'PINK GOOSE FEATHER TREE 60CM', 72, Decimal('1.95')),
 (524097, '22088', 'PAPER BUNTING COLOURED LACE', 40, Decimal('2.55')),
 (524097, '22089', 'PAPER BUNTING VINTAGE PAISLEY', 40, Decimal('2.55')),
 (524097, '22090', 'PAPER BUNTING RETRO SPOTS', 40, Decimal('2.55')),
 (524097, '47566', 'PARTY BUNTING', 150, Decimal('3.75')),
 (524098, '22145', 'CHRISTMAS CRAFT HEART STOCKING ', 6, Decimal('2.10')),
 (524098, '22812', 'PACK 3 BOXES CHRISTMAS PANNETONE', 36, Decimal('1.95')),
 (524098, '22639', 'SET OF 4 NAPKIN CHARMS HEARTS', 6, Decimal('2.55')),
 (524098, '22604', 'SET OF 4 NAPKIN CHARMS CUTLERY', 6, Decimal('2.55')),
 (524098, '22642', 'SET OF 4 NAPKIN CHARMS STARS   ', 6, Decimal('2.55')),
 (524098, '84879', 'ASSORTED COLOUR BIRD ORNAMENT', 48, Decimal('1.69')),
 (524098, '22627', 'MINT KITCHEN SCALES', 2, Decimal('8.50')),
 (524098, '20914', 'SET/5 RED SPOTTY LID GLASS BOWLS', 6, Decimal('2.95')),
 (524098, '21217', 'RED SPOTTY ROUND CAKE TINS', 4, Decimal('9.95')),
 (524098, '22423', 'REGENCY CAKESTAND 3 TIER', 2, Decimal('12.75')),
 (524098, '22584', 'PACK OF 6 PANNETONE GIFT BOXES', 6, Decimal('2.55')),
 (524098, '22585', 'PACK OF 6 BIRDY GIFT TAGS', 12, Decimal('1.25')),
 (524098, '22635', 'CHILDS BREAKFAST SET DOLLY GIRL ', 2, Decimal('9.95')),
 (524098, '22634', 'CHILDS BREAKFAST SET SPACEBOY ', 2, Decimal('9.95')),
 (524098, '22382', 'LUNCH BAG SPACEBOY DESIGN ', 10, Decimal('1.65')),
 (524098, '20725', 'LUNCH BAG RED SPOTTY', 10, Decimal('1.65')),
 (524098, '22384', 'LUNCH BAG PINK RETROSPOT', 10, Decimal('1.65')),
 (524098, '22662', 'LUNCH BAG DOLLY GIRL DESIGN', 10, Decimal('1.65')),
 (524098, '20727', 'LUNCH BAG  BLACK SKULL.', 10, Decimal('1.65')),
 (524098, '22383', 'LUNCH BAG SUKI  DESIGN ', 10, Decimal('1.65')),
 (524098, '20728', 'LUNCH BAG CARS BLUE', 10, Decimal('1.65')),
 (524098, '20726', 'LUNCH BAG WOODLAND', 10, Decimal('1.65')),
 (524098, '22580', 'ADVENT CALENDAR GINGHAM SACK', 12, Decimal('5.95')),
 (524098, '22599', 'CHRISTMAS MUSICAL ZINC STAR', 72, Decimal('0.72')),
 (524098, '35400', 'WOODEN BOX ADVENT CALENDAR ', 2, Decimal('8.95')),
 (524098, '85048', '15CM CHRISTMAS GLASS BALL 20 LIGHTS', 24, Decimal('6.95')),
 (524098, '21821', 'GLITTER STAR GARLAND WITH BELLS ', 12, Decimal('3.75')),
 (524098, '21820', 'GLITTER HEART GARLAND WITH BELLS ', 12, Decimal('3.75')),
 (524098, '21822', 'GLITTER CHRISTMAS TREE WITH BELLS', 24, Decimal('1.95')),
 (524098, '21143', 'ANTIQUE GLASS HEART DECORATION ', 36, Decimal('1.95')),
 (524098, '21146', 'ANTIQUE GLASS RIDGED HANGING BALL', 36, Decimal('1.95')),
 (524098, '22086', "PAPER CHAIN KIT 50'S CHRISTMAS ", 12, Decimal('2.95')),
 (524098, '22809', 'SET OF 6 T-LIGHTS SANTA', 12, Decimal('2.95')),
 (524098, '47590B', 'PINK HAPPY BIRTHDAY BUNTING', 3, Decimal('5.45')),
 (524098, '47590A', 'BLUE HAPPY BIRTHDAY BUNTING', 3, Decimal('5.45')),
 (524098, '21124', 'SET/10 BLUE SPOTTY PARTY CANDLES', 24, Decimal('1.25')),
 (524098, '21123', 'SET/10 IVORY SPOTTY PARTY CANDLES', 24, Decimal('1.25')),
 (524098, '21122', 'SET/10 PINK SPOTTY PARTY CANDLES', 24, Decimal('1.25')),
 (524098, '21121', 'SET/10 RED SPOTTY PARTY CANDLES', 24, Decimal('1.25')),
 (524098, '22085', 'PAPER CHAIN KIT SKULLS ', 6, Decimal('2.95')),
 (524098, '22334', 'DINOSAUR PARTY BAG + STICKER SET', 8, Decimal('1.65')),
 (524098, '22333', 'RETRO SPOT PARTY BAG + STICKER SET', 8, Decimal('1.65')),
 (524098, '22332', 'SKULLS PARTY BAG + STICKER SET', 8, Decimal('1.65')),
 (524098, '22331', 'WOODLAND PARTY BAG + STICKER SET', 8, Decimal('1.65')),
 (524098, '47599B', 'BLUE PARTY BAGS ', 6, Decimal('2.10')),
 (524098, '47599A', 'PINK PARTY BAGS', 6, Decimal('2.10')),
 (524098, '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 32, Decimal('2.55')),
 (524098, '21733', 'RED HANGING HEART T-LIGHT HOLDER', 32, Decimal('2.55')),
 (524098, '21989', 'PACK OF 20 SKULL PAPER NAPKINS', 12, Decimal('0.85')),
 (524098, '21987', 'PACK OF 6 SKULL PAPER CUPS', 12, Decimal('0.65')),
 (524098, '21988', 'PACK OF 6 SKULL PAPER PLATES', 12, Decimal('0.85')),
 (524098, '21086', 'SET/6 RED SPOTTY PAPER CUPS', 12, Decimal('0.65')),
 (524098, '21094', 'SET/6 RED SPOTTY PAPER PLATES', 12, Decimal('0.85')),
 (524098, '22613', 'PACK OF 20 SPACEBOY NAPKINS', 12, Decimal('0.85')),
 (524098, '21781', 'MA CAMPAGNE CUTLERY BOX', 2, Decimal('14.95')),

In [4]:
cursor.description

(Column(name='invoice_id', type_code=23),
 Column(name='stock_code', type_code=1043),
 Column(name='description', type_code=1043),
 Column(name='quantity', type_code=23),
 Column(name='price', type_code=1700))

In [5]:
columns = []                     # –í —ç—Ç–æ—Ç —Å–ø–∏—Å–æ–∫ –±—É–¥–µ–º —Å–æ—Ö—Ä–∞–Ω—è—Ç—å –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫
for desc in cursor.description:  
    columns.append(desc[0])      # –ù–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –≤–æ–∑—å–º–µ–º –∏–∑ –ø–µ—Ä–≤–æ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ cursor.description

    
products = pd.DataFrame(result, columns=columns)  # –ò–∑ —Å–ø–∏—Å–∫–∞ –∫–æ—Ä—Ç–µ–∂–µ–π —Å–¥–µ–ª–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
products.head()

   invoice_id stock_code                     description  quantity price
0      524025      21232  STRAWBERRY CERAMIC TRINKET BOX        72  1.06
1      524025     85099C  JUMBO  BAG BAROQUE BLACK WHITE       100  1.65
2      524025      21231  SWEETHEART CERAMIC TRINKET BOX        72  1.06
3      524025     47570B            TEA TIME TABLE CLOTH        50  8.49
4      524025      20685           DOORMAT RED RETROSPOT        10  6.75

In [6]:
products['invoice_id'] = products['invoice_id'].apply(str)
products['stock_code'] = products['stock_code'].apply(str)
products['description'] = products['description'].apply(str)
products['quantity'] = products['quantity'].apply(int)
products['price'] = products['price'].apply(float)

## –ó–∞–¥–∞–Ω–∏–µ 2

__–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, –∫–∞–∫–æ–π –¥–æ—Ö–æ–¥ –ø—Ä–∏–Ω–µ—Å –∫–∞–∂–¥—ã–π –ø—Ä–æ–¥—É–∫—Ç –∏ —Å–∫–æ–ª—å–∫–æ –µ–¥–∏–Ω–∏—Ü –∫–∞–∂–¥–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ__

1. –ü–æ—Å—á–∏—Ç–∞–π –æ–±—â—É—é —Å—É–º–º—É –æ–ø–ª–∞—Ç –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏ —Å—á–µ—Ç–∞
2. –ü–æ–ª—É—á–∏ –æ–±—â–∏–π –¥–æ—Ö–æ–¥ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü –ø–æ —Ç–æ–≤–∞—Ä–∞–º
3. –û–±—ä–µ–¥–∏–Ω–∏ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–∏–Ω –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `description`, `stock_code`, `quantity`, `total`

In [7]:
products['total'] = products['quantity'] * products['price']
products.head()

,invoice_id,stock_code,description,quantity,price,total
0,524025,21232,STRAWBERRY CERAMIC TRINKET BOX,72,1.06,76.32
1,524025,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,1.65,165.00
2,524025,21231,SWEETHEART CERAMIC TRINKET BOX,72,1.06,76.32
3,524025,47570B,TEA TIME TABLE CLOTH,50,8.49,424.50
4,524025,20685,DOORMAT RED RETROSPOT,10,6.75,67.50

In [8]:
# –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–∏—Ö –¥–æ—Ö–æ–¥ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É
total_stock = products.groupby('stock_code')['total'].sum().reset_index()
total_stock.head()

  stock_code    total
0      10002  6638.27
1      10080   124.61
2      10109     1.68
3      10120   136.08
4     10123C   226.76

In [9]:
# –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É
quantity_stock = products.groupby('stock_code')['quantity'].sum().reset_index()
quantity_stock.head()

  stock_code  quantity
0      10002      8479
1      10080       303
2      10109         4
3      10120       648
4     10123C       628

In [10]:
# –æ–±—ä–µ–¥–∏–Ω–∏ –æ–±—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—É
qua_tot = pd.merge(total_stock, quantity_stock, on='stock_code')
qua_tot.head()

  stock_code    total  quantity
0      10002  6638.27      8479
1      10080   124.61       303
2      10109     1.68         4
3      10120   136.08       648
4     10123C   226.76       628

## –ó–∞–¥–∞–Ω–∏–µ 3

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –ø–æ –¥–æ—Ö–æ–¥—É –≤ –Ω–∏—Å—Ö–æ–¥—è—â–µ–º –ø–æ—Ä—è–¥–∫–µ 
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –¥–æ—Ö–æ–¥–µ 
3. –°–¥–µ–ª–∞–π –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ (running total) –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞, –¥–ª—è —ç—Ç–æ–≥–æ –Ω–∞–π–¥–∏ –≤ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–µ –∏ –ø—Ä–∏–º–µ–Ω–∏ –º–µ—Ç–æ–¥ –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã –≤ `pandas`. 


–ù–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ ‚Äî —ç—Ç–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö, –≤ –∫–æ—Ç–æ—Ä–æ–º –º—ã –≤–∏–¥–∏–º –¥–∏–Ω–∞–º–∏–∫—É –Ω–∞—Ä–∞—Å—Ç–∞–Ω–∏—è –∏–ª–∏ —É–±—ã–≤–∞–Ω–∏—è —Å—É–º–º—ã –æ—Ç –Ω–∞—á–∞–ª–∞ –æ—Ç—Å—á–µ—Ç–∞ –¥–æ –∫–æ–Ω—Ü–∞. –ü–æ–ª—É—á–∞–µ–º –º—ã —ç—Ç—É –∫—É–º—É–ª—è—Ç–∏–≤–Ω—É—é —Å—É–º–º—É, –ø—Ä–∏–±–∞–≤–ª–µ–Ω–∏–µ–º –ø–æ–æ—á–µ—Ä–µ–¥–Ω–æ –∫–∞–∂–¥–æ–≥–æ —Å–ª–µ–¥—É—é—â–µ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –∫ —Å—É–º–º–µ –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö.

In [11]:
# –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º (–±–æ–ª—å—à–∏–µ –≤–≤–µ—Ä—Ö—É, –º–∞–ª–µ–Ω—å–∫–∏–µ –≤–Ω–∏–∑—É)
sorted_qua_tot = qua_tot.sort_values(by='total' , ascending=False)
sorted_qua_tot.head()

     stock_code      total  quantity
1609      22423  277656.25     24139
4080     85123A  247203.36     91814
2726      23843  168469.60     80995
4058     85099B  167920.64     93436
4625          M  151777.67      9391

In [12]:
# –Ω–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 

#(–∏—Å–∫–æ–º–∞—è —á–∞—Å—Ç—å / —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ) * 100

sorted_qua_tot['per_revenue'] = sorted_qua_tot['total'] / sorted_qua_tot['total'].sum() *100
sorted_qua_tot

     stock_code      total  quantity  per_revenue
1609      22423  277656.25     24139     1.598040
4080     85123A  247203.36     91814     1.422769
2726      23843  168469.60     80995     0.969620
4058     85099B  167920.64     93436     0.966461
4625          M  151777.67      9391     0.873550
...         ...        ...       ...          ...
4630    TEST002       1.00         1     0.000006
247       20721       0.85         1     0.000005
3419     84205C       0.38         2     0.000002
2847      35930       0.38         1     0.000002
4626       PADS       0.00        18     0.000000

[4631 rows x 4 columns]

In [13]:
# –∏—Å–ø–æ–ª—å–∑—É–π –º–µ—Ç–æ–¥ pandas –¥–ª—è –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã
running_total = pd.DataFrame(sorted_qua_tot.groupby('stock_code')['per_revenue'].sum()).sort_values(by='per_revenue' , ascending=False).reset_index()
running_total['cum_sum'] = running_total['per_revenue'].cumsum()

running_total

     stock_code  per_revenue     cum_sum
0         22423     1.598040    1.598040
1        85123A     1.422769    3.020809
2         23843     0.969620    3.990429
3        85099B     0.966461    4.956890
4             M     0.873550    5.830440
...         ...          ...         ...
4626    TEST002     0.000006   99.999991
4627      20721     0.000005   99.999996
4628     84205C     0.000002   99.999998
4629      35930     0.000002  100.000000
4630       PADS     0.000000  100.000000

[4631 rows x 3 columns]

## –ó–∞–¥–∞–Ω–∏–µ 4

__–ü–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'` –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –Ω–∞—Ä–∞—Å—Ç–∞—é—â–µ–≥–æ –∏—Ç–æ–≥–∞__

1. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø–æ–º–µ—á–∞—Ç—å —Ç–æ–≤–∞—Ä—ã —Å –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–º –∏—Ç–æ–≥–æ–º –Ω–∏–∂–µ –∏–ª–∏ —Ä–∞–≤–Ω–æ 80% –∫–∞–∫ –≥—Ä—É–ø–ø—É `'A'`, –æ—Ç 80%-95% ‚Äî –∫–∞–∫ `'B'` –∏ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–∞–∫ `'C'`

In [16]:
def revenue(x):

    if x <= 80:
        return 'A'
    elif x > 80 and x <= 95:
        return 'B'
    else:
        return 'C'    # –¥–æ–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é

# —Å–æ–∑–¥–∞–π –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü revenue —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏
running_total['revenue'] = running_total['cum_sum'].apply(revenue) 
running_total

     stock_code  per_revenue     cum_sum revenue
0         22423     1.598040    1.598040       A
1        85123A     1.422769    3.020809       A
2         23843     0.969620    3.990429       A
3        85099B     0.966461    4.956890       A
4             M     0.873550    5.830440       A
...         ...          ...         ...     ...
4626    TEST002     0.000006   99.999991       C
4627      20721     0.000005   99.999996       C
4628     84205C     0.000002   99.999998       C
4629      35930     0.000002  100.000000       C
4630       PADS     0.000000  100.000000       C

[4631 rows x 4 columns]

## –ó–∞–¥–∞–Ω–∏–µ 5

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –∏ –ø–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'`, –æ—Ç–º–µ—á–∞—è —Ç–µ–º —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å —Ç–æ–≤–∞—Ä–∞__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –ø—Ä–µ–¥—ã–¥—É—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –¥–æ—Ö–æ–¥–µ —Ç–µ–ø–µ—Ä—å –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–æ–≤
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ
3. –ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É
4. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é —Å —Ç–µ–º–∏ –∂–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏, —á—Ç–æ –∏ —É –¥–æ—Ö–æ–¥–∞
5. –û—Ç–º–µ—Ç—å –≥—Ä—É–ø–ø—É

In [18]:
sorted_qua_tot = qua_tot.sort_values(by='quantity' , ascending=False)
sorted_qua_tot.head()

     stock_code      total  quantity
3410      84077   24098.03    105185
4058     85099B  167920.64     93436
4080     85123A  247203.36     91814
601       21212   43390.03     89850
2726      23843  168469.60     80995

In [19]:
# –ø—Ä–æ–≤–µ–¥–∏ —Ç–µ –∂–µ –æ–ø–µ—Ä–∞—Ü–∏–∏, —á—Ç–æ –≤ –¥–≤—É—Ö –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏—è—Ö, –¥–ª—è –æ—Ü–µ–Ω–∫–∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
sorted_qua_tot['per_quantity'] = sorted_qua_tot['quantity'] / sorted_qua_tot['quantity'].sum() *100
sorted_qua_tot

     stock_code      total  quantity  per_quantity
3410      84077   24098.03    105185      0.999031
4058     85099B  167920.64     93436      0.887441
4080     85123A  247203.36     91814      0.872035
601       21212   43390.03     89850      0.853381
2726      23843  168469.60     80995      0.769278
...         ...        ...       ...           ...
2936      37484       6.75         1      0.000009
4144      85171       2.55         1      0.000009
2917      37451       4.95         1      0.000009
2907      37438       3.75         1      0.000009
4630    TEST002       1.00         1      0.000009

[4631 rows x 4 columns]

In [21]:
running_quantity = pd.DataFrame(sorted_qua_tot.groupby('stock_code')['per_quantity'].sum()).sort_values(by='per_quantity' , ascending=False).reset_index()
running_quantity['cum_sum_qua'] = running_quantity['per_quantity'].cumsum()

running_quantity

     stock_code  per_quantity  cum_sum_qua
0         84077      0.999031     0.999031
1        85099B      0.887441     1.886471
2        85123A      0.872035     2.758506
3         21212      0.853381     3.611888
4         23843      0.769278     4.381166
...         ...           ...          ...
4626      37484      0.000009    99.999962
4627      85171      0.000009    99.999972
4628      37451      0.000009    99.999981
4629      37438      0.000009    99.999991
4630    TEST002      0.000009   100.000000

[4631 rows x 3 columns]

In [29]:
def quantity(x):

    if x <= 80:
        return 'A'
    elif x > 80 and x <= 95:
        return 'B'
    else:
        return 'C'   # –¥–æ–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é

# —Å–æ–∑–¥–∞–π –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü popularity —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏
running_quantity['popularity'] = running_quantity['cum_sum_qua'].apply(quantity) 
running_quantity

     stock_code  per_quantity  cum_sum_qua popularity
0         84077      0.999031     0.999031          A
1        85099B      0.887441     1.886471          A
2        85123A      0.872035     2.758506          A
3         21212      0.853381     3.611888          A
4         23843      0.769278     4.381166          A
...         ...           ...          ...        ...
4626      37484      0.000009    99.999962          C
4627      85171      0.000009    99.999972          C
4628      37451      0.000009    99.999981          C
4629      37438      0.000009    99.999991          C
4630    TEST002      0.000009   100.000000          C

[4631 rows x 4 columns]

In [30]:
prod = pd.merge(running_total,running_quantity,on='stock_code').reset_index()
prod = prod[['stock_code','revenue','popularity']]
prod

     stock_code revenue popularity
0         22423       A          A
1        85123A       A          A
2         23843       A          A
3        85099B       A          A
4             M       A          A
...         ...     ...        ...
4626    TEST002       C          C
4627      20721       C          C
4628     84205C       C          C
4629      35930       C          C
4630       PADS       C          C

[4631 rows x 3 columns]

## –ó–∞–¥–∞–Ω–∏–µ 6

__–û–±—ä–µ–¥–∏–Ω–∏ –≥—Ä—É–ø–ø—ã –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π__

1. –°–æ–∑–¥–∞–π —Å–µ—Ä–∏—é `group` —Å –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º –æ—Ç–º–µ—Ç–æ–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ –∏ –¥–æ—Ö–æ–¥–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
2. –ü–æ—Å—á–∏—Ç–∞–π –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –∫–∞–∂–¥–æ–π —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –ø–∞—Ä—ã
3. –ö–∞–∫–∏–µ –≥—Ä—É–ø–ø—ã –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞?
4. –ù–∞ –∫–∞–∫–∏—Ö –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫?

In [31]:
# –Ω–∞–ø–∏—à–∏ –∑–¥–µ—Å—å –∫–æ–¥ –∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏
prod['group']=prod['revenue'] + prod['popularity']

prod.head()

  stock_code revenue popularity group
0      22423       A          A    AA
1     85123A       A          A    AA
2      23843       A          A    AA
3     85099B       A          A    AA
4          M       A          A    AA

In [32]:
prod['group'].value_counts()

CC    2041
AA     685
BB     577
BC     377
CB     303
BA     270
AB     248
CA      72
AC      58
Name: group, dtype: int64

H–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞ –≥—Ä—É–ø–ø—ã BC, CB –∏ CC.
–ü—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –Ω–∞ –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ AA, AB –∏ BA.

## –ó–∞–¥–∞–Ω–∏–µ 7

__–í—ã–≥—Ä—É–∑–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ —Ç–æ–≤–∞—Ä–∞–º —Å –º–µ—Ç–æ–∫–æ–π –ø–æ ABC-–∞–Ω–∞–ª–∏–∑—É__

1. –û–±—ä–µ–¥–∏–Ω–∏ –ø–æ `stock_code` –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ `ABC-–∫–æ–¥`, –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞ –∏ `ID `

2. –í—ã–≥—Ä—É–∑–∏ —Ç–∞–±–ª–∏—Ü—É –≤ `csv` –¥–ª—è –æ—Ç–ø—Ä–∞–≤–∫–∏ –≤ –æ—Ç–¥–µ–ª –∑–∞–∫—É–ø–æ–∫

In [46]:
prodABC = pd.merge(products, prod, on='stock_code' , how='inner')
#prodABC = [['stock_code', 'group','description','invoice_id']]
prodABC

,invoice_id,stock_code,description,quantity,price,total,revenue,popularity,group
0,524025,21232,STRAWBERRY CERAMIC TRINKET BOX,72,1.06,76.32,A,A,AA
1,524091,21232,STRAWBERRY CERAMIC TRINKET BOX,12,1.25,15.00,A,A,AA
2,524099,21232,STRAWBERRY CERAMIC TRINKET BOX,12,1.25,15.00,A,A,AA
3,524184,21232,STRAWBERRY CERAMIC TRINKET BOX,3,1.25,3.75,A,A,AA
4,524206,21232,STRAWBERRY CERAMIC TRINKET BOX,12,1.25,15.00,A,A,AA
...,...,...,...,...,...,...,...,...,...
779490,513566,ADJUST2,Adjustment by Peter on Jun 25 2010,1,358.47,358.47,C,C,CC
779491,513565,ADJUST2,Adjustment by Peter on Jun 25 2010,1,72.45,72.45,C,C,CC
779492,515916,45014,FOLDING SHIRT TIDY,1,4.65,4.65,C,C,CC
779493,517719,21585,SWALLOW SMALL TUBE MATCHES,1,1.65,1.65,C,C,CC
779494,521362,78026,SEAGRASS S/3 SQU LAUNDRY BOX,11,10.00,110.00,C,C,CC

In [48]:
prod_ABC = prodABC [['stock_code', 'group','description','invoice_id']]
prod_ABC.head()

  stock_code group                     description invoice_id
0      21232    AA  STRAWBERRY CERAMIC TRINKET BOX     524025
1      21232    AA  STRAWBERRY CERAMIC TRINKET BOX     524091
2      21232    AA  STRAWBERRY CERAMIC TRINKET BOX     524099
3      21232    AA  STRAWBERRY CERAMIC TRINKET BOX     524184
4      21232    AA  STRAWBERRY CERAMIC TRINKET BOX     524206

In [49]:
prod_ABC.to_csv('prod_ABC.csv', index=False)

# üéâüéâüéâ –ü–æ–∑–¥—Ä–∞–≤–ª—è–µ–º, —Ç—ã –≤–µ–ª–∏–∫–æ–ª–µ–ø–µ–Ω!